# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chiplot.tsv",sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [28]:
chipo[chipo['item_price'] >10]['item_name'].value_counts().count()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
chipo.groupby(['item_name']).mean().reset_index()[['item_name','item_price']]

                                item_name  item_price
0                       6 Pack Soft Drink    6.610185
1                           Barbacoa Bowl   10.187273
2                        Barbacoa Burrito    9.832418
3                   Barbacoa Crispy Tacos   10.928182
4                     Barbacoa Salad Bowl   10.640000
5                     Barbacoa Soft Tacos   10.018400
6                           Bottled Water    1.867654
7                                    Bowl   14.800000
8                                 Burrito    7.400000
9                             Canned Soda    1.320577
10                      Canned Soft Drink    1.457641
11                          Carnitas Bowl   10.833971
12                       Carnitas Burrito   10.132712
13                  Carnitas Crispy Tacos   11.137143
14                         Carnitas Salad    8.990000
15                    Carnitas Salad Bowl   11.056667
16                    Carnitas Soft Tacos    9.398500
17                           Chicken Bowl   10.113953
18                        Chicken Burrito   10.082857
19                   Chicken Crispy Tacos   10.045319
20                          Chicken Salad    9.010000
21                     Chicken Salad Bowl   11.170455
22                     Chicken Soft Tacos    9.635565
23                                  Chips    2.342844
24           Chips and Fresh Tomato Salsa    3.285091
25                    Chips and Guacamole    4.595073
26      Chips and Mild Fresh Tomato Salsa    3.000000
27     Chips and Roasted Chili Corn Salsa    3.084091
28     Chips and Roasted Chili-Corn Salsa    2.390000
29  Chips and Tomatillo Green Chili Salsa    3.087209
30    Chips and Tomatillo Red Chili Salsa    3.072917
31  Chips and Tomatillo-Green Chili Salsa    2.544194
32    Chips and Tomatillo-Red Chili Salsa    2.987500
33                           Crispy Tacos    7.400000
34                                   Izze    3.390000
35                       Nantucket Nectar    3.641111
36                                  Salad    7.400000
37                          Side of Chips    1.840594
38                             Steak Bowl   10.711801
39                          Steak Burrito   10.465842
40                     Steak Crispy Tacos   10.209714
41                            Steak Salad    8.915000
42                       Steak Salad Bowl   11.847931
43                       Steak Soft Tacos    9.746364
44                            Veggie Bowl   10.211647
45                         Veggie Burrito    9.839684
46                    Veggie Crispy Tacos    8.490000
47                           Veggie Salad    8.490000
48                      Veggie Salad Bowl   10.138889
49                      Veggie Soft Tacos   10.565714

### Step 6. Sort by the name of the item

In [62]:
chipo.sort_values(by='item_name' , ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [68]:
chipo[chipo['item_price'] >= chipo['item_price'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [80]:
chipo.groupby(['item_name']).sum().filter(['Veggie Salad Bowl'] ,axis=0)['quantity']

item_name
Veggie Salad Bowl    18
Name: quantity, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [105]:
chipo[chipo['quantity']>1].groupby(['item_name']).count().filter(['Canned Soda'],axis=0)['quantity']

item_name
Canned Soda    20
Name: quantity, dtype: int64