# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data = pd.read_csv('wind.data' , sep=' ' , parse_dates=[0,1,2])
data

,Yr,Mo,Dy,Unnamed: 3,Unnamed: 4,RPT,Unnamed: 6,Unnamed: 7,VAL,Unnamed: 9,...,MUL,Unnamed: 30,Unnamed: 31,CLO,Unnamed: 33,Unnamed: 34,BEL,Unnamed: 36,Unnamed: 37,MAL
0,61,NaN,1,NaN,1.00,15.04,14.96,13.17,NaN,9.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61,NaN,1,NaN,2.00,14.71,NaN,NaN,NaN,10.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61,NaN,1,NaN,3.00,18.50,16.88,12.33,10.13,11.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,61,NaN,1,NaN,4.00,10.58,NaN,6.63,11.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,61,NaN,1,NaN,5.00,13.33,13.25,11.42,NaN,6.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,NaN,8.08,13.21,11.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6570,78,12,28,13.21,NaN,5.46,13.46,NaN,5.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6571,78,12,29,14.00,10.29,14.42,NaN,8.71,NaN,9.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6572,78,12,30,18.50,14.04,21.29,NaN,9.13,12.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6573,78,12,31,20.33,17.41,27.29,NaN,9.59,12.08,10.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [4]:
data['Yr'] = data['Yr'].apply(lambda x : '19'+x)
data['Yr']

0       1961
1       1961
2       1961
3       1961
4       1961
        ...
6569    1978
6570    1978
6571    1978
6572    1978
6573    1978
Name: Yr, Length: 6574, dtype: object

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [5]:
data.set_index(pd.to_datetime(data['Yr']+data['Mo']+data['Dy'] , format='%Y%m%d') , inplace=True)
data.drop(columns = ['Yr','Mo','Dy'] , axis=1 , inplace=True)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [6]:
data.isna().sum()

Unnamed: 3     1831
Unnamed: 4     1667
RPT            1625
Unnamed: 6     2256
Unnamed: 7     2478
VAL            2432
Unnamed: 9     2101
Unnamed: 10    2575
ROS            2152
Unnamed: 12    2393
Unnamed: 13    2143
KIL            2331
Unnamed: 15    2221
Unnamed: 16    2985
SHA            3204
Unnamed: 18    3687
Unnamed: 19    3732
BIR            4065
Unnamed: 21    4078
Unnamed: 22    4462
DUB            4416
Unnamed: 24    4817
Unnamed: 25    5032
CLA            5590
Unnamed: 27    5963
Unnamed: 28    6428
MUL            6574
Unnamed: 30    6573
Unnamed: 31    6574
CLO            6574
Unnamed: 33    6574
Unnamed: 34    6574
BEL            6574
Unnamed: 36    6574
Unnamed: 37    6574
MAL            6574
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [7]:
data.count() - data.isna().sum()

Unnamed: 3     2912
Unnamed: 4     3240
RPT            3324
Unnamed: 6     2062
Unnamed: 7     1618
VAL            1710
Unnamed: 9     2372
Unnamed: 10    1424
ROS            2270
Unnamed: 12    1788
Unnamed: 13    2288
KIL            1912
Unnamed: 15    2132
Unnamed: 16     604
SHA             166
Unnamed: 18    -800
Unnamed: 19    -890
BIR           -1556
Unnamed: 21   -1582
Unnamed: 22   -2350
DUB           -2258
Unnamed: 24   -3060
Unnamed: 25   -3490
CLA           -4606
Unnamed: 27   -5352
Unnamed: 28   -6282
MUL           -6574
Unnamed: 30   -6572
Unnamed: 31   -6574
CLO           -6574
Unnamed: 33   -6574
Unnamed: 34   -6574
BEL           -6574
Unnamed: 36   -6574
Unnamed: 37   -6574
MAL           -6574
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [8]:
data.mean().mean()

9.91218394118985

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [9]:
loc_stats = data.describe()
loc_stats.T

              count       mean       std   min    25%    50%      75%    max
Unnamed: 3   4743.0  17.997723  7.320219  1.00  12.92  18.00  24.0000  32.96
Unnamed: 4   4907.0  11.769851  6.146505  1.00   7.00  11.67  15.8950  35.38
RPT          4949.0  12.415559  5.229848  0.67   8.63  12.04  15.6700  35.80
Unnamed: 6   4318.0  11.842916  4.940703  0.21   8.42  11.42  14.7500  32.75
Unnamed: 7   4096.0   9.967188  4.911509  0.42   6.50   9.50  12.5400  30.37
VAL          4142.0  10.106519  4.953028  0.33   6.68   9.00  12.9500  37.54
Unnamed: 9   4473.0  10.079287  4.583270  0.25   6.50   9.38  13.1300  32.42
Unnamed: 10  3999.0   9.848580  5.254887  0.00   5.75   9.62  13.1300  30.37
ROS          4422.0   9.175468  5.175858  0.08   4.67   9.04  12.7900  31.08
Unnamed: 12  4181.0   9.901736  4.674471  0.13   6.42   9.75  13.1300  28.21
Unnamed: 13  4431.0   9.994572  5.011803  0.04   6.25   9.42  12.9200  38.96
KIL          4243.0  10.897985  6.676379  0.00   6.04   9.92  13.7500  42.38
Unnamed: 15  4353.0  10.921328  7.623103  0.00   5.13   9.54  14.3700  42.54
Unnamed: 16  3589.0  10.658755  6.660911  0.00   6.04   9.13  13.3700  35.13
SHA          3370.0   9.439496  5.788945  0.25   5.50   8.04  11.4600  37.99
Unnamed: 18  2887.0   9.127191  5.524925  0.00   5.29   7.96  11.5000  41.46
Unnamed: 19  2842.0   8.309641  5.358097  0.04   4.50   7.04  10.5800  33.66
BIR          2509.0   8.548127  5.315896  0.00   4.71   7.25  11.2900  35.50
Unnamed: 21  2496.0   8.132187  5.180466  0.29   4.29   6.83  11.0900  33.17
Unnamed: 22  2112.0   8.451222  5.071942  0.04   4.63   7.33  11.8000  33.04
DUB          2158.0   8.168874  4.968116  0.04   4.29   7.17  11.5800  34.08
Unnamed: 24  1757.0   9.439585  4.574218  0.13   5.96   9.17  12.5800  25.54
Unnamed: 25  1542.0   9.420863  4.048751  0.13   6.38   8.79  12.0000  25.00
CLA           984.0   9.240346  3.623705  0.58   6.57   9.00  11.5400  26.25
Unnamed: 27   611.0   7.857807  3.134903  2.04   5.67   7.46   9.2700  27.88
Unnamed: 28   146.0   6.706164  1.947997  2.21   5.31   6.81   8.1875   9.96
MUL             0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
Unnamed: 30     1.0   9.210000       NaN  9.21   9.21   9.21   9.2100   9.21
Unnamed: 31     0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
CLO             0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
Unnamed: 33     0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
Unnamed: 34     0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
BEL             0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
Unnamed: 36     0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
Unnamed: 37     0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN
MAL             0.0        NaN       NaN   NaN    NaN    NaN      NaN    NaN

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [10]:
day_stats = pd.DataFrame(data.T.describe().T)
day_stats

            count       mean       std   min      25%     50%      75%    max
NaT          12.0  12.016667  4.382798  1.00  10.1550  12.875  14.9800  18.50
NaT          12.0  10.558333  4.063144  2.00   9.1700  10.435  12.9225  17.54
NaT          12.0  10.921667  4.306679  3.00   8.2925  11.210  12.7200  18.50
NaT          13.0   6.417692  3.146962  1.79   4.5400   5.830   8.6300  11.75
NaT          13.0  10.196923  2.814191  5.00   8.2100  10.920  11.9200  13.33
...           ...        ...       ...   ...      ...     ...      ...    ...
1978-12-27   12.0  16.708333  7.868076  8.08  13.8025  15.025  17.3025  40.08
1978-12-28   12.0  15.150000  9.687857  5.00   9.0950  13.895  16.7000  41.46
1978-12-29   12.0  14.890000  5.756836  8.71  10.4775  14.210  17.0350  29.58
1978-12-30   12.0  15.367500  5.540437  9.13  12.3750  13.455  18.1850  28.79
1978-12-31   12.0  15.402500  5.702483  9.59  11.5300  12.080  19.5200  27.29

[6574 rows x 8 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### Step 12. Downsample the record to a yearly frequency for each location.

In [11]:
data.groupby(data.index.year).mean()

,Unnamed: 3,Unnamed: 4,RPT,Unnamed: 6,Unnamed: 7,VAL,Unnamed: 9,Unnamed: 10,ROS,Unnamed: 12,...,MUL,Unnamed: 30,Unnamed: 31,CLO,Unnamed: 33,Unnamed: 34,BEL,Unnamed: 36,Unnamed: 37,MAL
1961.0,16.566000,11.814909,15.841951,10.159111,12.305294,9.467321,12.319667,9.348679,11.743889,10.083077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962.0,15.949268,10.689818,13.582432,8.510625,11.932187,8.889464,13.017742,8.513208,11.804848,8.937358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963.0,17.883061,14.188929,14.539057,11.972308,12.298600,12.234000,11.875682,11.633889,12.250455,11.216800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964.0,16.380714,11.891379,14.196341,9.183684,10.177179,9.567660,10.262500,8.406667,9.665500,9.853800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965.0,16.221250,13.019643,14.180000,10.478913,11.594615,9.736792,12.319118,9.689804,10.941250,9.875385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966.0,15.683800,12.656200,12.500652,10.476596,12.651389,9.357551,11.902432,9.654038,11.456129,9.066182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967.0,16.297209,12.231754,12.910000,8.958095,12.188500,9.992642,11.931515,8.685686,11.606154,10.183846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968.0,16.102449,13.362083,12.840400,11.475000,11.130000,9.421509,10.913333,9.190204,11.124848,9.225769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969.0,15.225833,11.346316,14.435758,8.022667,9.874828,8.377547,9.420000,7.147600,10.715000,9.236078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970.0,15.544783,12.165472,13.799535,9.753000,9.721176,9.115536,10.148065,8.024348,9.976111,8.902391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971.0,16.390426,12.661228,15.008636,9.642162,9.986500,10.705965,11.788182,9.504800,11.047234,11.445778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972.0,16.579512,13.259167,14.032093,9.645500,10.703636,9.760444,9.811111,9.241087,10.448605,9.446170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973.0,14.787619,11.516271,13.419677,8.496512,9.544706,8.668846,9.673333,7.415532,10.051875,8.862083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974.0,18.597755,14.828621,15.031111,10.188478,14.481667,9.999074,14.420000,10.599412,13.465217,11.455263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975.0,15.897500,12.775500,14.230811,7.522571,9.210541,9.652745,9.624643,7.316667,9.575938,8.392830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976.0,15.081875,10.333276,12.045714,7.047234,7.709630,7.912308,8.555000,5.347292,8.552963,6.139792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977.0,17.443962,14.407258,14.316731,10.115862,10.307800,10.866078,12.336667,11.364898,11.958125,11.718909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978.0,17.015750,12.364211,13.752619,8.494872,9.537895,9.525510,9.665882,8.443878,11.334324,9.434615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 13. Downsample the record to a monthly frequency for each location.

In [12]:
data.groupby(data.index.month).mean().T

                  10.0       11.0       12.0
Unnamed: 3   15.719504  16.440996  16.899354
Unnamed: 4   11.921965  12.473830  13.194798
RPT          13.364262  13.744468  14.676255
Unnamed: 6    8.828537   9.541922   9.931184
Unnamed: 7   10.274889  11.182010  11.359757
VAL           9.431708   9.413980   9.992150
Unnamed: 9   10.736393  11.058141  11.801409
Unnamed: 10   8.363049   8.745194   9.588970
ROS          10.816326  10.949444  11.442241
Unnamed: 12   9.313475   9.561178  10.080032
Unnamed: 13  12.125694  12.275937  13.236792
KIL          11.070847  11.571319  12.335492
Unnamed: 15  12.556421  11.971031  12.127500
Unnamed: 16   9.384693   9.745155  10.181963
SHA          10.126187   9.344832  10.976713
Unnamed: 18   7.972727   7.986761   8.521591
Unnamed: 19  10.997236  10.293622   9.820926
BIR           8.032181   7.675316   8.264873
Unnamed: 21  10.707353  10.472019  11.341538
Unnamed: 22   8.381712   7.726074   8.850880
DUB          11.833333  11.534684  11.997000
Unnamed: 24  10.524700   9.299022   9.458537
Unnamed: 25  11.386667  11.362653  12.802414
CLA           7.490909   7.765652   8.078125
Unnamed: 27        NaN        NaN        NaN
Unnamed: 28        NaN        NaN        NaN
MUL                NaN        NaN        NaN
Unnamed: 30        NaN        NaN        NaN
Unnamed: 31        NaN        NaN        NaN
CLO                NaN        NaN        NaN
Unnamed: 33        NaN        NaN        NaN
Unnamed: 34        NaN        NaN        NaN
BEL                NaN        NaN        NaN
Unnamed: 36        NaN        NaN        NaN
Unnamed: 37        NaN        NaN        NaN
MAL                NaN        NaN        NaN

### Step 14. Downsample the record to a weekly frequency for each location.